@import '../../assets/css/minx.scss';
@import '../../assets/css/variable.scss';

.register-container {
  .title {
    text-align: center;
    font-size: $big-title-font;
    margin: 20px 0;
  }
  .register-wrapper {
    @include flex();
    @include bg-img('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    height: 100%;
    .register-form {
      background-color: #fff;
      border: 1px solid #ebebec;
      max-width: 360px;
      width: 360px;
      margin: 0 auto;
      margin-bottom: 30px;
      padding: 40px 30px 8px 30px;
      background-color: #fff;
      .register-form-span {
        @include a();
      }
      .register-form-button {
        width: 100%;
      }
      .register {
        display: inline-block;
        margin-top: 15px;
      }
    }
  }
}
