@import '../../assets/css/minx.scss';

.header-wrapper {
  z-index: 100;
  border-top: none;
  font-size: 18px;
  min-width: 960px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
  .header-container {
    @include flex();
    height: 54px;
    line-height: 54px;
    width: 960px;
    margin: 0 auto;
    .menu-wrapper {
      flex: 0.8;
      .menu {
        @include flex();
        .menu-item {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
    .logout {
      @include a();
    }
  }
}
